div.goToTop > a i{
    font-size: 30px;
  
}
div#topHead2_1 > img{
    display: none;
}
img{
    width: 100%;
}
#logIn{
    font-size: 7px;
}
#creatAccount{
    font-size: 7px;

}
#bag{
    font-size: 7px;

}
div#connect a{
    font-size: 10px;
   
}


